<div class="container whitebox">
    <div class="title-page">
        <h4>Segundo paso: Ingrese información de su vehículo</h4>
        <hr>
        <br>
    </div>
    <form [formGroup]="vehicleDataForm" novalidate>
        <div class="form-row ">
            <div class="form-group col-12 col-md-6 ">
                <label for="inputMarca ">Marca del vehículo (*)</label>
                <select id="inputMarca " class="form-control " formControlName="inputMarca">
                    <!--<option *ngFor="let marca of marcas" [value]="marca.id">{{marca.nombre}}</option>-->
                    </select>
            </div>
            <div class="form-group col-12 col-md-6 ">
                <label for="inputModelo ">Modelo del vehículo (*)</label>
                <select id="inputModelo " class="form-control " formControlName="inputModelo">
                        <!--<option *ngFor="let modelo of modelos" [value]="modelo.id">{{modelo.nombre}}</option>-->
                        </select>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-12 col-md-6 ">
                <label for="inputVersion ">Versión del vehículo (*)</label>
                <select id="inputVersion " class="form-control " formControlName="inputVersion">
                    <!--<option *ngFor="let version of versiones" [value]="version.id">{{version.nombre}}</option>-->
                    </select>
            </div>
            <div class="form-group col-12 col-md-3 ">
                <label for="inputVersion ">Año del vehículo (*)</label>
                <select id="inputVersion " class="form-control " formControlName="inputVersion">
                    <!--<option *ngFor="let anio of anios" [value]="anio.id">{{anio.valor}}</option>-->
                    </select>
            </div>
        </div>
        <div class="form-row ">
            <div class="col-12 ">
                <small>Los campos con (*) son obligatorios para poder continuar.</small>
            </div>
            <div class="col-12" style="text-align:right">
                <br>
                <button type="button " type="submit" class="btn btn-light m-3">Volver</button>
                <button type="button " class="btn btn-info">Continuar</button>
            </div>
        </div>
    </form>
</div>