<div class="container card p-5">
    <div class="title-page">
        <h4>Primer paso: Ingrese su información personal</h4>
        <small>Paso 1 de 3:</small>
        <hr>
        <br>
    </div>
    <form [formGroup]="personalDataForm" novalidate>
        <div class="form-row ">
            <div class="form-group col-12 col-md-4 ">
                <label for="inputApellido ">Apellido completo (*)</label>
                <input type="text " class="form-control " id="inputApellido " maxlenght="15" pattern="[a-zA-Z\s]{2,15}" formControlName="inputApellido" aria-describedby="apellidoHelp " placeholder="Apellido " [ngClass]="{'has-error': !personalDataForm.controls.inputApellido.valid && (personalDataForm.controls.inputApellido.dirty || personalDataForm.controls.inputApellido.touched)}">
                <span class="input-error" *ngIf="!personalDataForm.controls.inputApellido.valid && (personalDataForm.controls.inputApellido.dirty || personalDataForm.controls.inputApellido.touched) && !personalDataForm.value.inputApellido">
                    Este campo es requerido.
                </span>
                <span class="input-error" *ngIf="!personalDataForm.controls.inputApellido.valid && personalDataForm.value.inputApellido">
                    Ha ingresado un Apellido incorrecto.
                </span>
            </div>
            <div class="form-group col-12 col-md-4 ">
                <label for="inputNombre ">Nombre completo (*)</label>
                <input type="text " class="form-control " id="inputNombre " maxlenght="15" pattern="[a-zA-Z\s]{2,15}" formControlName="inputNombre" aria-describedby="nombreHelp " placeholder="Nombre " [ngClass]="{'has-error': !personalDataForm.controls.inputNombre.valid && (personalDataForm.controls.inputNombre.dirty || personalDataForm.controls.inputNombre.touched)}">
                <span class="input-error" *ngIf="!personalDataForm.controls.inputNombre.valid && (personalDataForm.controls.inputNombre.dirty || personalDataForm.controls.inputNombre.touched) && !personalDataForm.value.inputNombre">
                    Este campo es requerido.
                </span>
                <span class="input-error" *ngIf="!personalDataForm.controls.inputNombre.valid && personalDataForm.value.inputNombre">
                    Ha ingresado un Nombre incorrecto.
                </span>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-12 col-md-4 ">
                <label for="inputDNI ">Documento nacional de identidad (*)</label>
                <input type="text " class="form-control " id="inputDNI " pattern="[0-9]{7,8}" formControlName="inputDNI" aria-describedby="dniHelp " placeholder="Documento" [ngClass]="{'has-error': !personalDataForm.controls.inputDNI.valid && (personalDataForm.controls.inputDNI.dirty || personalDataForm.controls.inputDNI.touched)}">
                <span class="input-error" *ngIf="!personalDataForm.controls.inputDNI.valid && (personalDataForm.controls.inputDNI.dirty || personalDataForm.controls.inputDNI.touched) && !personalDataForm.value.inputDNI">
                    Este campo es requerido.
                </span>
                <span class="input-error" *ngIf="!personalDataForm.controls.inputDNI.valid && personalDataForm.value.inputDNI > 0">
                    Ha ingresado un DNI incorrecto.
                </span>
            </div>
            <div class="form-group col-12 col-md-4 ">
                <label for="inputBirthDate ">Fecha de nacimiento</label>
                <input type="date" class="form-control " id="inputBirthDate " formControlName="inputBirthDate" aria-describedby="birthDateHelp " placeholder="Fecha ">
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-12 col-md-6 ">
                <label for="inputEmail ">Correo electrónico</label>
                <input type="email " class="form-control " id="inputEmail " formControlName="inputEmail" aria-describedby="emailHelp " placeholder="Email ">
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group form-group col-12 col-md-4 ">
                <label for="inputSmartPhone ">Teléfono celular</label>
                <input type="phone " class="form-control " id="inputSmartPhone " formControlName="inputSmartPhone" aria-describedby="smartphoneHelp " placeholder="Teléfono ">
            </div>
            <div class="form-group form-group col-12 col-md-4 ">
                <label for="inputTelphone ">Teléfono fijo</label>
                <input type="phone " class="form-control " id="inputTelphone " formControlName="inputTelphone" aria-describedby="telphoneHelp " placeholder="Teléfono ">
            </div>
        </div>
        <hr>
        <div class="form-row ">
            <div class="form-group col-12 col-md-4" *ngIf="provincias.length > 0">
                <label for="inputProvincia ">Provincia de residencia (*)</label>
                <select id="inputProvincia " class="form-control " formControlName="inputProvincia">
                    <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.nombre}}</option>
                    </select>
            </div>
            <div class="form-group col-12 col-md-4 ">
                <label for="inputMunicipio ">Municipio de residencia (*)</label>
                <select id="inputMunicipio " class="form-control " formControlName="inputMunicipio">
                    <option>...</option>
                    </select>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-12 col-md-6 ">
                <label for="inputDireccion ">Dirección (*)</label>
                <input type="text " class="form-control " id="inputDireccion " formControlName="inputDireccion" aria-describedby="direccionHelp " placeholder="Dirección ">
            </div>
        </div>
        <hr>
        <div class="form-row ">
            <div class="form-group col-12 col-md-4 ">
                <label for="inputUserName ">Usuario (*)</label>
                <input type="text " class="form-control " id="inputUserName " formControlName="inputUserName" aria-describedby="userNameHelp " placeholder="Usuario ">
            </div>
            <div class=" form-group col-12 col-md-4 ">
                <label for="inputPassword ">Contraseña (*)</label>
                <input type="password " class="form-control " id="inputPassword " formControlName="inputPassword" aria-describedby="PasswordHelp " placeholder="Contraseña ">
            </div>
        </div>
        <div class="form-row ">
            <div class="col-12 ">
                <small>Los campos con (*) son obligatorios.</small>
            </div>
            <div class="col-12 ">
                <br>
                <button type="button " class="btn btn-info float-right">Continuar</button>
            </div>
        </div>
    </form>
</div>