<!-- Navbar top de la aplicación -->
<app-navbar></app-navbar>

<!-- Componentes de formularios por steps de la aplicación -->
<app-personal-info class="container paddingbot60"></app-personal-info>
<app-vehicle-info class="container paddingbot60"></app-vehicle-info>
<app-insurance-coverage class="container paddingbot60"></app-insurance-coverage>
<app-review-info class="container paddingbot60"></app-review-info>
<app-finish-step class="container paddingbot60"></app-finish-step>

<!-- Sticky footer de la aplicación-->
<app-footer></app-footer>