<div class="footer">
    <div class="row" style="margin-top:10px;">
        <div class="col-6 offset-md-1 col-md-2"><a class="link-footer">Denuncia de Siniestro</a></div>
        <div class="col-6 col-md-2"><a class="link-footer">Reclamo de Terceros</a></div>
        <div class="col-6 col-md-2"><a class="link-footer">Web Asegurados</a></div>
        <div class="col-6 col-md-2"><a class="link-footer">Solicitar Turnos</a></div>
        <div class="col-6 col-md-2"><a class="link-footer">Asistencia</a></div>
    </div>
</div>